# Tutorial : Pandas - parte I

**C03 : Visualización Científica y Narrativas**

**RAUGM 2021: Geociencias e inclusión**

This tutotial by Luis M. de la Cruz Salas is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0?ref=chooser-v1">Attribution-NonCommercial-NoDerivatives 4.0 International</a>

In [ ]:
from seaborn import load_dataset

In [ ]:
df = load_dataset("tips")
df

## Función `iloc`

In [ ]:
df.iloc[0] # renglón cero

In [ ]:
df.iloc[0,0] # Primer elemento del primer renglón

In [ ]:
df.iloc[:,0] # Todos los elementos de la primera columna

In [ ]:
df.iloc[:,0:3] # Las primeras 3 columnas

In [ ]:
df.iloc[[0,2,3]] # Se eligen algunos renglones específicos

In [ ]:
df.iloc[:,[1,3]] # Se eligen algunas columnas específicas

## Función `loc`

In [ ]:
df.loc[:,'smoker'] # Se puede usar el nombre de la columna

In [ ]:
df.loc[:,['sex', 'day']] # Se puede usar el nombre de la columna

In [ ]:
is_male = df.loc[:,'sex'] == 'Male'
is_male

In [ ]:
df_male = df.loc[is_male]

In [ ]:
df_male

In [ ]:
total_up_10 = df.loc[:,'total_bill'] > 9
df[total_up_10]

## Operaciones de agrupación

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1': [1.0, 2.0, 3.0, 4.0, 5.0],
                   'data2': [6.0, 7.0, 8.0, 9.0, 10.0]}
                 )

df

In [ ]:
grupo = df['data1'].groupby(df['key1'])
print(type(grupo))
pd.DataFrame(grupo)

### Función `describe`

In [ ]:
grupo.describe()

### Otras funciones

In [ ]:
grupo.mean()

In [ ]:
paises = np.array(['México', 'México', 'USA', 'USA', 'México'])
años = np.array([2005, 2005, 2006, 2005, 2006])

In [ ]:
grupo2 = df['data1'].groupby([paises])
grupo2.describe()

In [ ]:
grupo3 = df['data1'].groupby([años])
grupo3.describe()

In [ ]:
grupo4 = df['data1'].groupby([paises, años])
grupo4.describe()

In [ ]:
grupo4.mean()

In [ ]:
df

In [ ]:
df.groupby('key1').mean()

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

In [ ]:
for (k1,k2), group in df.groupby(['key1', 'key2']):
    print((k1,k2))
    print(group)

In [ ]:
grupo5 = df.groupby(['key1', 'key2'])['data2']
grupo5.describe()

In [ ]:
grupo5.mean()

In [ ]:
people = pd.DataFrame(np.random.rand(5,5),
                     columns = ['a', 'b', 'c', 'd', 'e'],
                     index = ['L', 'M', 'N', 'O', 'P'])
people

In [ ]:
people.iloc[1:3,[1,2]] = np.nan
people

In [ ]:
mapea_color = {'a':'Azul', 'b':'Azul', 
               'c':'Amarillo', 'd':'Amarillo', 'e':'Violeta', 'f':'Amarillo'}

In [ ]:
grupo6 = people.groupby(mapea_color, axis=1)
grupo6.describe()

In [ ]:
grupo6.sum()

In [ ]:
mapea_color_serie = pd.Series(mapea_color)
mapea_color_serie

In [ ]:
people.groupby(mapea_color_serie, axis=1).count()

## Ejemplo
Realizar un análisis de los datos *tips*:
- Agregar una columna al DataFrame con el porcentaje de propina con respecto de la cuenta total.
- Agrupar por `day` y `smoker` y calcular la media.
- Agrupar por `sex` y obtener el primer renglón de cada clase.
- Agrupar por `tip` y obtener las que son iguales a $1.0$.
- Agrupar por `sex` y `day`, obtener el primer renglón de cada clase.
- Ordenar el DataFrame por el total de la cuenta en orden descendente.

In [ ]:
tips = load_dataset("tips")
tips

In [ ]:
tips['tip_pct'] = tips['tip'] * 100/ tips['total_bill']

In [ ]:
tips

In [ ]:
tips.groupby(['day','smoker']).mean()

Ordenar por sexo y mostra solo primera línea de cada agrupación

In [ ]:
test1 = tips.groupby('sex')
test1.first()

Ordenamos por propina y obtenemos solo las propinas que son igual 1.0

In [ ]:
test2 = tips.groupby('tip')
test2.get_group(1.00)

Ordenar por sexo y día y mostrar solo el primer elemento de cada agrupación

In [ ]:
test3 = tips.groupby(['sex', 'day'])
test3.first()

Ordenar por los valores más altos de la cuenta total

In [ ]:
test4 = tips.sort_values('total_bill', axis=0, ascending = False)
test4